  <!-- Copyright -->
  <div class="footer-copyright text-center py-2 mt-3">© 2021 Copyright:
    <a href="#"> IITG-Connect</a>
    <p>if you find any bug pls report it to <a href = "mailto:dhruveshbhure9999@gmail.com">Send Email</a></p>
  </div>
  <!-- Copyright -->