<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="login-register">
        <form action="/" method="POST">
            <!-- <label for="username">username</label> -->
            <input type="text" placeholder="username" id="username" name="username" required>
            <br>
            <br>
            <!-- <label for="password">Password</label> -->
            <input type="password" placeholder="password" id="password" name="password" required>
        </form>
    </div>
</body>
</html>