<!-- <div class="row mt-4">
    <div class="col-md-6 col-12  m-auto">
        <div class="card card-body text-center">
            <h1>Connect IITG With <span style="color: red;">❤</span></h1>
            <a href="users/login" class="btn btn-primary mb-2">Login</a>
            <a href="users/register" class="btn btn-primary">Register</a>
        </div>
    </div>
</div> -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button> -->
<!-- <h1 class="text-center mt-1">Welcome TO IITG-Connect</h1> -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="static/IITG_academics.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Academics Complex</h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="static/IITG_serpentine.jpeg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Serpentine lake</h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="static/IITG_core3.jpeg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>core 3</h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="static/IITG_lake.jpeg" alt="Fourth slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Lake</h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="static/IITG_tapri.jpeg" alt="Fifth slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Tapri</h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="static/IITG_lake1.jpeg" alt="Fifth slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>IITG Lake</h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="static/IITG_cricket.jpeg" alt="Fifth slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Cricket Ground</h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="static/IITG_guest&tihor.jpeg" alt="Fifth slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Near Guest house and Tihor Lake</h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="static/IITG_admin&auditorium.jpeg" alt="Fifth slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Admin Building(left) and Auditorium(right)</h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="static/IITG_cricket&siang.jpeg" alt="Fifth slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Cricket ground and Siang Hostel</h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="static/IITG_library.jpeg" alt="Fifth slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Library</h5>
                <p></p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="font-size:50px"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="color: red !important;"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row mx-auto">
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter1">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Coding Club</div>
                <div class="card-body px-2 py-2">
                    <img src="static/codingclub_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Coding Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            Being Coding Club of a technical institution, we do pretty much everything and anything
                            related to coding. Coding events, Workshops, Hackathons (48 hours non stop coding), contests
                            are just to name a few. We believe in coding our problems away.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://linktr.ee/codingclubiitg" target="_blank"><i
                                    class="fab fa-wordpress"></i></a>
                            <a href="https://www.instagram.com/codingclubiitg/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/codingclubiitg" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/coding-club-iitg/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter2">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">E-Cell</div>
                <div class="card-body px-2 py-2">
                    <img src="static/ecell_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header py-2">
                            <h5 class="modal-title" id="exampleModalCenterTitle">E-Cell</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            E-Cell IITG is a non-profit student run organization where we crave and explore the
                            constantly evolving world of entrepreneurship and start-up cult. In our quest to promote the
                            spirit of entrepreneurship among the community, we try to answer essential questions like
                            “How this realm of entrepreneurship affects us in our day-to-day lives?” and the likes of
                            “Can I construct my start-up idea into a functional business model?” To spread this very
                            essence, we host various seminars/webinars, lectures, podcasts and book summaries,
                            innovative games, brainstorming sessions, competitions. Besides that, we host the most
                            prominent annual entrepreneurial summit of the northeast, “UDGAM”, which includes numerous
                            informative events about entrepreneurship.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.ecelliitg.in/" target="_blank"><i class="fab fa-wordpress"></i></a>
                            <a href="https://www.instagram.com/ecell_iitg/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/ecell.iitg" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/ecell-iitg/mycompany/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://twitter.com/ecelliitg" target="_blank"><i class="fab fa-twitter"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter3">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Aeromodelling Club</div>
                <div class="card-body px-2 py-2">
                    <img src="static/aero_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Aeromodelling Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            The Aeromodelling club works mainly on developing drone technology. We work on making drones
                            autonomous and smart and also develop RC planes as a hobby.
                            The Aim of Aeromodelling Club, IITG is to develop smart drones with an easy interface for
                            common people to interact with drones. The motive behind this aim is that drone technology
                            would revolutionize the tech industry in the next decade. Be it the transportation industry
                            or agricultural industry, drone technology would have a huge impact on transforming tech
                            industries. Aeromodelling Club aims to contribute to this transformation.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.instagram.com/aeroclub.iitg/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/Aeroiitg" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/aeroiitg/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <a href="https://twitter.com/AeroIITG" target="_blank"><i class="fab fa-twitter"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter4">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Electronics Club</div>
                <div class="card-body px-2 py-2">
                    <img src="static/electronics_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Electronics Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            The Electronics Club aims to provide students a platform and resources to gain practical
                            skills and realize projects. We strive to teach and help students acquire new skills in an
                            era of rapidly evolving technology. We believe in coming up with projects that are
                            innovative and tackle real life problems. To achieve these objectives we conduct various
                            lectures, workshops and mentorship programs to help students realize their projects. The
                            mission of the club is to expose students to challenges and new technologies in the field of
                            electronics and thus to nurture and develop their skill set in this arena. Regular meetings
                            and mentorship programs will definitely help students to achieve their goals. The emphasis
                            is on experimenting and learning, no experience is necessary but eagerness to learn is
                            essential.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://electronicsclubiitg.wordpress.com/2019/03/25/smart-farm-electronics-club-iit-guwahati/"
                                target="_blank"><i class="fab fa-wordpress"></i></a>
                            <a href="https://www.instagram.com/electronicsclubiitg/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/search/top?q=electronics%20club%20iit%20guwahati"
                                target="_blank"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/electronicsclubiitg/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter5">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Consulting and Ananlytics Club</div>
                <div class="card-body px-2 py-2">
                    <img src="static/cac_logo.jpg" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Consulting and Ananlytics Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            With the motto of promoting technology, creativity and innovation, the Technical Board
                            understands and believes that this fast changing and evolving era is the perfect time to
                            live in and step-up to shape our future by looking at the world as our playground!
                            Many students have that creative urge in them ready to shoot out at any moment. They have
                            dreamt and believed that they were supposed to do something amazing, special, important and
                            outstanding and they were destined for success! Those who believe that they can innovate,
                            create and build their own future, Technical Board provides them with both the opportunity
                            and support to help them leave their mark, make a difference and leave their legacy by
                            choice and not by chance!
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://iitg.ac.in/sa/caciitg/" target="_blank"><i
                                    class="fab fa-wordpress"></i></a>
                            <a href="https://www.instagram.com/caciitg/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/caciitg" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/caciitg/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter6">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Finance and Economics Club</div>
                <div class="card-body px-2 py-2">
                    <img src="static/fec_logo.jpg" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Finance and Economics Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            The Finance and Economics Club (FEC) functions as a platform for enthusiastic students to
                            come together and learn the intriguing and fun world of finance, by organizing introductory
                            sessions for people who are interested in finance but do not have any prior knowledge,
                            through inviting Industry Leaders and alumni in the industry for insight into the latest
                            industrial trends and holding lectures and discussions involving the latest happenings
                            around the world.
                            Our club was founded in 2014 and since then has progressed very much. In the recent 2 years
                            the activities inside the club had increased exponentially.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.instagram.com/fec_iitg/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/financeclubiitg" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/finance-and-economics-club-iitg/"
                                target="_blank"><i class="fab fa-linkedin"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter7">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Cadence : Dance Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/dance_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Cadence Dance Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            Cadence- the word itself alludes rhythm and the artistic flow of beats. Dance is an art, a creative portal, a form of expression and an ever evolving form of art. As the choreography club the aim is to promote the culture of these evolving dance styles ranging from hip hop to classical !!!
                            Organising various dance events within the campus and participate in competitions outside the campus. Some of them are-

                            Step-Up(Fresher's dance competition)
                            Narthaki(Solo-Classical Dance competition)
                            Freshers Cult-Night
                            PAFF
                            We also organize fun events such as-
                            Masquerade Ball
                            Flash mob
                            Ball night
                            We also invite various dancers from all over India to conduct workshops. The guidance and encouragement of Dr. Anwesa Mahanta,a Sattriya dancer and researcher is always there.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.iitg.ac.in/stud/gymkhana/Cultural%20Board/dance.html" target="_blank"><i
                                class="fab fa-wordpress"></i></a>
                            <a href="https://www.instagram.com/iitgcadence/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/cadence.iitg" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter8">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Acumen : Science and Quiz Club</div>
                <div class="card-body px-2 py-2">
                    <img src="static/quiz_logo.jpg" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter8" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Acumen : Science and Quiz Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            Acumen, the quiz club is one of the oldest clubs in the campus. The primary aim of the club
                            is to nurture and propagate a culture of quizzing in the institute. The club aims to evoke
                            and sharpen innate logical reasoning skills employed in quizzing to contribute to the
                            overall intellectual and cognitive development of the participants and club members.
                            We don't quiz because it adds up to our CV or something. We don't quiz because we like
                            impressing anyone. We do it, because we are unluckily, helplessly in love with it. And this
                            love is what makes our club a family. We quizzers, a group of all-knowing knuckleheads, in
                            the search of something greater in life. Perhaps one day we would find the answer to the
                            universe itself? But I think we quizzers already know the quadraginta duo answer to it.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.instagram.com/quizclub.iitg/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/groups/182451258489899" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter9">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Automobile Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/racing_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter9" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Automobile Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            The Green Automobile Club, IITG has been organising various lectures and workshops since its
                            inception to impart knowledge to the students and equip them with the knowledge of important
                            design and simulation software which are an integral part of mechanical design process.
                            With an aim of providing hands on experience of design and manufacturing of an automobile to
                            the enthusiastic students, the team has participated in national competitions like FORMULA
                            BHARAT 2017 (Team Evolution),SUPRA SAEINDIA 2018 & 2015(Team Evolution), BAJA SAEINDIA 2012
                            (Team Srijan) and SAENIS Effi Cycle 2013-17 (Team Evolution).
                            The Club aims to create sustainable solutions to the problems encountered in the transport
                            industry
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.instagram.com/iitg.racing/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/iitg.racing" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/iitgracing/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter10">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Anchorenza Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/anchor_logo.jpg" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter10" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Anchorenza Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            The club aims to encourage each one to speak their hearts out, overcome stage fright and own the awesome personality one dreams of! From holding the stage on serious moments in Techniche, or entertaining the bustling crowds in Alcheringa, we got it all. And while all this sounds like a tough job, which it kinda is, we guys always manage to have our share of fun and awesome times!! And, not to forget, the radio shows conducted by RadioG, the campus radio, which, under our mentorship, is now spreading it’s wings and has opened up exciting horizons. So while the stage bears a glum look, we guys heat up things on the microphone, with the campus hooked on to each one of our words! So if YOU wanna join the fun, come hither to completely change your personality and be part of the crazy ride!!
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.iitg.ac.in/stud/gymkhana/Cultural%20Board/anchor.html" target="_blank"><i
                                class="fab fa-wordpress"></i></a>
                            <a href="https://www.instagram.com/anchorenza_and_radiog/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/anchorenza.radiog/" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/anchorenza-radiog/about/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter11">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Robotics Club</div>
                <div class="card-body px-2 py-2">
                    <img src="static/robotics_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter11" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Robotics Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            The mission of IIT Guwahati's Robotics Club is to unite students in an educational
                            environment and provide students a place to pursue their interest in mechanical, electronic,
                            and software design by working on large and small scale robotics projects. Having said that
                            we take pride in talking about our projects, be it autonomous bots, humanoids, swarm of tiny
                            robots, robotic arms or aerial vehicles, we haven't left any stone unturned. However, the
                            club provides much more than just technical growth to its members, from team-building to
                            cooperation, from perseverance to sincerity, the club teaches you a myriad of interpersonal
                            skills essential in daily life. The club is open to students with or without experience
                            because, believe it or not, none of us had any idea of robotics when we first stepped into
                            the club room, neither do we expect anything from you. You just need to show up and the club
                            and its people will take care of the rest. The club's environment perpetuates the sharing of
                            wisdom and experience amongst our members. We cater to every individual who ever wanted to
                            design their own circuit and control their own bot.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.iitg.ac.in/sa/roboclub/" target="_blank"><i
                                    class="fab fa-wordpress"></i></a>
                            <a href="https://www.instagram.com/roboclubiitg/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/groups/120490468075088" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/robotics-club-iitg/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter12">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Xpression Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/drama_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter12" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Xpression Drama Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            Xpressions- The Dramatics Society of IIT Guwahati and Tamachey - The Nukkad Society of IIT Guwahati is a bunch of aesthetes from the IITG family who thrives to bring a change in society by portraying the problems and issues in a riveting manner through popular art forms of dramatics - Theatre, Mimes, Nukkad Naataks(Street Play) , Movies.
                            Xpressions!- Xpress Your Heart Out! Ever felt that theatre was your calling? Ever been called a ‘nautankibaaz’ by your friends? Ever felt like going mad on stage? Ever felt like making people cry or laugh with your drama? Ever felt to see your Short stories in aform of movie?
                            If yes, well then, Xpressions is the place to be. With a platform amalgamating your talent in acting with a lot of fun and masti, IIT Guwahati welcomes you to its drama club.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.iitg.ac.in/stud/gymkhana/Cultural%20Board/drama.html" target="_blank"><i
                                class="fab fa-wordpress"></i></a>
                            <a href="https://www.instagram.com/xpressions.dramatics/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/groups/119389028152976" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter13">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Fine Arts Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/arts_logo.jpg" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter13" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Fine Arts Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            Finnese Art is the most sublime mission of man since it is the exercise of thought, seeking to understand the world and make it understood, and that is what we, Finesse- the Fine arts club, seek to do in this club. We feel a campus poised on sheer scientific thrills requires a balancing dose of art so that aesthetics and beauty around us are not forgotten.
                            The fine arts club organizes art events in the campus like workshops to learn Sketching , photoshop, illustrator, events during manthan and alcheringa. At the end of the year, an exhibition of the works done by the members is organized. The spectrum of fine art comprises most of the visible art forms ,crafts and even digital art excluding photography. Club members will get to volunteer in these events, organize, meet artists, scrutinize and suggest on participants’ art work and even contribute with their creativity.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.iitg.ac.in/stud/gymkhana/Cultural%20Board/arts.html" target="_blank"><i
                                class="fab fa-wordpress"></i></a>
                            <a href="https://www.facebook.com/finearts.iitg" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter14">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">LITSOC Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/litsoc_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter14" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">LITSOC literary Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            LitSoc is an amalgamation of two disciplines – Literary and Debating. It is a club that comprises of individuals who have a passion for all things related to creative writing or debates. The members range from seasoned debaters to novices, magicians with words to interested writers. Everyone is welcome in this club.
                            The core activities carried out by the club come under two umbrellas: Literary activities and Debating activities. The primary form of debate in the club is Parliamentary Debate (Asian format). The other regular forms of debate are Model United Nations(MUN), Turncoat and Group Discussions. The literary events are primarily related to creative writing. The members encourage writing in different formats like blogs, poems, prose and technical articles.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.iitg.ac.in/stud/gymkhana/Cultural%20Board/lit.html" target="_blank"><i
                                class="fab fa-wordpress"></i></a>
                            <a href="https://www.instagram.com/litsociitg/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/litsociitg" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter15">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Lumiere Movie Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/lumiere_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter15" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Lumiere Movie Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            The Activities of the Club includes Photo-Walks, Photo-Trips, Workshops, Competitions and Exhibitions. We also capture all the Interesting Activities happening within the Campus. The most eye catching event of the club is its Annual Photography Exhibition- "Tasveer" organized every year. This exhibition displays numerous breathtaking photographs taken by the members of the club as well as by a number of photographers from the IITG junta whether they would be students, staff, faculty, etc. The photographs exhibited during the exhibition are then compiled in an Annual Photobook of the club. From its journey from film cameras to the modern digital SLRs, the club has prospered and has been successful in covering various happening and events of IIT Guwahati whether it be the Alcheringa, Techniche, Independence and Republic day or the inter hostel technical and cultural competitions. The Club has also been involved in organizing various photo walks throughout every year from its start for the photographers in IIT Guwahati junta and has also organized various Workshops.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.iitg.ac.in/stud/gymkhana/Cultural%20Board/lumiere.html" target="_blank"><i
                                class="fab fa-wordpress"></i></a>
                            <a href="https://www.instagram.com/lumiereiitg/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/iitgmovieclub" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/lumiereiitg/about/" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter16">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Octaves Music Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/octaves_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter16" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Octaves Music Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            Octaves is a group of music lovers of IITG. Anyone who wants to learn or sink themselves in music can be the part of the club.It is one of the most dynamic and happening clubs in the campus. Comprising of a bunch of solid talented musicians and ever hungry music worshipers, the club with its various bands has been enthralling the IITG junta for years.
                            It aims at promoting the culture of music amongst the IIT fraternity and providing a recreational platform for the budding musicians. If you are a person who shares a keen interest in any form of music, this definitely is the club for you.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.iitg.ac.in/stud/gymkhana/Cultural%20Board/music.html" target="_blank"><i
                                class="fab fa-wordpress"></i></a>
                            <a href="https://www.instagram.com/octaves_iitg/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/musicclubiitg" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter17">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Montage Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/montage_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter17" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Montage photography Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            The Activities of the Club includes Photo-Walks, Photo-Trips, Workshops, Competitions and Exhibitions. We also capture all the Interesting Activities happening within the Campus. The most eye catching event of the club is its Annual Photography Exhibition- "Tasveer" organized every year. This exhibition displays numerous breathtaking photographs taken by the members of the club as well as by a number of photographers from the IITG junta whether they would be students, staff, faculty, etc. The photographs exhibited during the exhibition are then compiled in an Annual Photobook of the club. From its journey from film cameras to the modern digital SLRs, the club has prospered and has been successful in covering various happening and events of IIT Guwahati whether it be the Alcheringa, Techniche, Independence and Republic day or the inter hostel technical and cultural competitions. The Club has also been involved in organizing various photo walks throughout every year from its start for the photographers in IIT Guwahati junta and has also organized various Workshops.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.iitg.ac.in/stud/gymkhana/Cultural%20Board/montage.html" target="_blank"><i
                                class="fab fa-wordpress"></i></a>
                            <a href="https://www.instagram.com/montage_iitg/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/montage.iitg" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/montageiitg/about/" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter18">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">IITG.ai Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/ai_logo.jpg" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter18" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Ai Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            IITG.ai was started in February 2018 with the dream of building an open culture of education and learning specific to AI at IIT Guwahati.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.iitg.ac.in/sa/ai/#/" target="_blank"><i
                                class="fab fa-wordpress"></i></a>
                            <a href="https://www.instagram.com/iitg.ai/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/iitgai" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/iitg-ai/" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter19">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Design Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/design_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter19" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">White Space : Design Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.instagram.com/white.space_design/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/whitespacedesignclub" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter21">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Debsoc Society</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/debsoc_logo.jpg" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter21" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Debsoc : Debate Society</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            We all work with a shared commitment to ensure that anyone and everyone can feel comfortable discussing their ideas, which allows our events to be an effective forum to get informed, engaged and involved with social, political and economic issues of the day. So, as such, it is we who train students and represent the college in various national level debating tournaments. We follow specific formats of debating, namely the British Parliamentary and Asian Parliamentary Format, and spend as many evenings as we can on perfecting our skills in it. In addition to the frequent debates, we have discussion sessions, meant for us to expand the scope and depth of our knowledge as much as possible
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.instagram.com/debsoc.iitg/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/DebatingSocietyIITG" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter22">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Equinox Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/equinox_logo.jpg" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter22" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Equinox : Astronomy Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            We are a group, mostly nocturnal, sometimes crepuscular, pursuing amateur astronomy and related fields. We follow related activities like constructing of sun-dial, public events during solar/lunar eclipses etc. ,observation sessions and trip to planetariums. 
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.facebook.com/equinox.iitg" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter23">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Palates Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/palates_logo.jpg" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter23" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Paletes : Culinary Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            The Culinary Arts Club of IITG
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.instagram.com/palates_iitg/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter24">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">TEDx Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/tedx_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter24" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">TEDx Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            TED, when independently organized by a group of organizations, community, or an institution is licensed as TEDx. As much as it promises autonomy, such events continue to adhere to the principles of an ideal TED talk. It’s not only diverse but also spreads the reach. The essentialities of independent TED is devoted to speaking to a specific community, that are a conglomeration of people representing the same ideas of work, education, interests, or belongingness from a region. It is meant to highlight voices within and around the community catering to mutual notions. The event revolves around a theme such that it is responsive to the majority of the audience.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://tedxiitguwahati.in/" target="_blank"><i
                                class="fab fa-wordpress"></i></a>
                            <a href="https://www.instagram.com/tedxiitguwahati/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/TEDxIITGuwahati" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-toggle="modal" data-target="#exampleModalCenter25">
            <div class="card border-info mt-3" style="max-width: 20rem;">
                <div class="card-header">Prakriti Club</div>
                <div class="card-body px-2 py-2">
                    <img src="/static/prakriti_logo.png" alt="here is club logo">
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter25" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Prakriti Club</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body py-2 px-2">
                            If you care about the mother nature,if you wish to save its gifts to us....or even if you wish to take environmental conservation as a career...come join us to learn more.
                            Prakriti is The Environment Club of IIT Guwahati.The club aims to instill and promote the feeling of living in harmony with nature.Our values are centered around cherishing and conserving the bounty bestowed upon us by mother nature.We believe it is the right and the moral responsibility of each one of us to enjoy and conserve the beauty of our environmental resources.
                            We work towards keeping our campus clean and green. Our efforts include helping others know about the hard issues related to problems and policies of wildlife conservation.We also believe that using technology for the purpose of environmental conservation and monitoring.
                        </div>
                        <div class="modal-footer py-1">
                            <a href="https://www.facebook.com/PrakritiClub" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<!-- Copyright -->
<div class="footer-copyright text-center py-2 mt-3">Developed by
    <a href="https://www.linkedin.com/in/dhruvesh222/" target="_blank"> Dhruvesh Bhure</a>
    <p>if you find any bug pls report it <a href="mailto:dhruveshbhure9999@gmail.com">here</a></p>
</div>
<!-- Copyright -->